/TwitchToYoutube/bin/Debug/net6.0/chromedriver.exe
/TwitchToYoutube/bin/Debug/net6.0/Controller.deps.json
/TwitchToYoutube/bin/Debug/net6.0/Controller.dll
/TwitchToYoutube/bin/Debug/net6.0/Controller.exe
/TwitchToYoutube/bin/Debug/net6.0/Controller.pdb
/TwitchToYoutube/bin/Debug/net6.0/Controller.runtimeconfig.json
/TwitchToYoutube/bin/Debug/net6.0/HtmlAgilityPack.dll
/TwitchToYoutube/bin/Debug/net6.0/Newtonsoft.Json.dll
/TwitchToYoutube/bin/Debug/net6.0/ref/Controller.dll
/TwitchToYoutube/bin/Debug/net6.0/ref/twitch_tuber.dll
/TwitchToYoutube/bin/Debug/net6.0/ref/TwitchToYoutube.dll
/TwitchToYoutube/bin/Debug/net6.0/twitch_tuber.deps.json
/TwitchToYoutube/bin/Debug/net6.0/twitch_tuber.dll
/TwitchToYoutube/bin/Debug/net6.0/twitch_tuber.exe
/TwitchToYoutube/bin/Debug/net6.0/twitch_tuber.pdb
/TwitchToYoutube/bin/Debug/net6.0/twitch_tuber.runtimeconfig.json
/TwitchToYoutube/bin/Debug/net6.0/TwitchDownload.dll
/TwitchToYoutube/bin/Debug/net6.0/TwitchDownload.pdb
/TwitchToYoutube/bin/Debug/net6.0/TwitchToYoutube.deps.json
/TwitchToYoutube/bin/Debug/net6.0/TwitchToYoutube.dll
/TwitchToYoutube/bin/Debug/net6.0/TwitchToYoutube.exe
/TwitchToYoutube/bin/Debug/net6.0/TwitchToYoutube.pdb
/TwitchToYoutube/bin/Debug/net6.0/TwitchToYoutube.runtimeconfig.json
/TwitchToYoutube/bin/Debug/net6.0/WebDriver.dll
/.vs/twitch_tuber/DesignTimeBuild/.dtbcache.v2
/.vs/TwitchToYoutube/DesignTimeBuild/.dtbcache.v2
/.vs/TwitchToYoutube/project-colors.json
/.vs/TwitchToYoutube/v17/.futdcache.v1
/.vs/TwitchToYoutube/v17/.suo
/Settings/Settings.json
/TwitchToYoutube/.vs/TwitchToYoutube/DesignTimeBuild/.dtbcache.v2
/TwitchToYoutube/.vs/TwitchToYoutube/project-colors.json
/TwitchToYoutube/.vs/TwitchToYoutube/v17/.futdcache.v1
/TwitchToYoutube/.vs/TwitchToYoutube/v17/.suo
/TwitchToYoutube/bin/Release/net6.0/Newtonsoft.Json.dll
/TwitchToYoutube/bin/Release/net6.0/ref/TwitchToYoutube.dll
/TwitchToYoutube/bin/Release/net6.0/TwitchToYoutube.deps.json
/TwitchToYoutube/bin/Release/net6.0/TwitchToYoutube.dll
/TwitchToYoutube/bin/Release/net6.0/TwitchToYoutube.exe
/TwitchToYoutube/bin/Release/net6.0/TwitchToYoutube.pdb
/TwitchToYoutube/bin/Release/net6.0/TwitchToYoutube.runtimeconfig.json
/TwitchToYoutube/bin/Release/net6.0/WebDriver.dll
/TwitchToYoutube/obj/Controller.csproj.nuget.dgspec.json
/TwitchToYoutube/obj/Controller.csproj.nuget.g.props
/TwitchToYoutube/obj/Controller.csproj.nuget.g.targets
/TwitchToYoutube/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.AssemblyInfo.cs
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.assets.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.csproj.CoreCompileInputs.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.csproj.FileListAbsolute.txt
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.csproj.GenerateResource.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.csproj.SuggestedBindingRedirects.cache
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.exe.withSupportedRuntime.config
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.GlobalUsings.g.cs
/TwitchToYoutube/obj/Debug/net48/twitch_tuber.Properties.Resources.resources
/TwitchToYoutube/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/TwitchToYoutube/obj/Debug/net5.0/TempPE/Properties.Resources.Designer.cs.dll
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.AssemblyInfo.cs
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.assets.cache
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Debug/net5.0/twitch_tuber.GlobalUsings.g.cs
/TwitchToYoutube/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TwitchToYoutube/obj/Debug/net6.0/apphost.exe
/TwitchToYoutube/obj/Debug/net6.0/Controller.AssemblyInfo.cs
/TwitchToYoutube/obj/Debug/net6.0/Controller.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.assets.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.csproj.CopyComplete
/TwitchToYoutube/obj/Debug/net6.0/Controller.csproj.CoreCompileInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.csproj.FileListAbsolute.txt
/TwitchToYoutube/obj/Debug/net6.0/Controller.csproj.GenerateResource.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.dll
/TwitchToYoutube/obj/Debug/net6.0/Controller.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Debug/net6.0/Controller.genruntimeconfig.cache
/TwitchToYoutube/obj/Debug/net6.0/Controller.GlobalUsings.g.cs
/TwitchToYoutube/obj/Debug/net6.0/Controller.pdb
/TwitchToYoutube/obj/Debug/net6.0/Controller.Properties.Resources.resources
/TwitchToYoutube/obj/Debug/net6.0/ref/Controller.dll
/TwitchToYoutube/obj/Debug/net6.0/ref/twitch_tuber.dll
/TwitchToYoutube/obj/Debug/net6.0/ref/TwitchToYoutube.dll
/TwitchToYoutube/obj/Debug/net6.0/TempPE/Properties.Resources.Designer.cs.dll
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.AssemblyInfo.cs
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.assets.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.csproj.CopyComplete
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.csproj.CoreCompileInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.csproj.FileListAbsolute.txt
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.csproj.GenerateResource.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.dll
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.genruntimeconfig.cache
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.GlobalUsings.g.cs
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.pdb
/TwitchToYoutube/obj/Debug/net6.0/twitch_tuber.Properties.Resources.resources
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.AssemblyInfo.cs
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.assets.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.csproj.CoreCompileInputs.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.csproj.FileListAbsolute.txt
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.csproj.GenerateResource.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.dll
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.genruntimeconfig.cache
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.GlobalUsings.g.cs
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.pdb
/TwitchToYoutube/obj/Debug/net6.0/TwitchToYoutube.Properties.Resources.resources
/TwitchToYoutube/obj/project.assets.json
/TwitchToYoutube/obj/project.nuget.cache
/TwitchToYoutube/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TwitchToYoutube/obj/Release/net6.0/apphost.exe
/TwitchToYoutube/obj/Release/net6.0/ref/TwitchToYoutube.dll
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.AssemblyInfo.cs
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.AssemblyInfoInputs.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.assets.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.csproj.AssemblyReference.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.csproj.CopyComplete
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.csproj.CoreCompileInputs.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.csproj.FileListAbsolute.txt
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.csproj.GenerateResource.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.dll
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.GeneratedMSBuildEditorConfig.editorconfig
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.genruntimeconfig.cache
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.GlobalUsings.g.cs
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.pdb
/TwitchToYoutube/obj/Release/net6.0/TwitchToYoutube.Properties.Resources.resources
/TwitchToYoutube/obj/twitch_tuber.csproj.nuget.dgspec.json
/TwitchToYoutube/obj/twitch_tuber.csproj.nuget.g.props
/TwitchToYoutube/obj/twitch_tuber.csproj.nuget.g.targets
/TwitchToYoutube/obj/TwitchToYoutube.csproj.nuget.dgspec.json
/TwitchToYoutube/obj/TwitchToYoutube.csproj.nuget.g.props
/TwitchToYoutube/obj/TwitchToYoutube.csproj.nuget.g.targets
/TwitchToYoutube/Properties/
